.element1 {
    border-bottom: 2px solid #151515;
    border-radius: 0px 0px 10px 10px;
}

.bg-Main {
    background-color: #c6c4d6;
}

.linke {
    color: #bfeafb;
    /* Notification color for link text */
}

/* Custom styles to hide the down arrow on dropdown */
.dropdown-toggle::after {
    display:none;
}

/* NavBar */
.nav-link {
    color: black;
    /* Black color for the navigation links */
}

.nav-link:hover {
    color: grey;
    /* Grey color on hover */
}

/* Ensure text is centered below icons */
.nav-item1 {
    text-align: center;
}



@media (max-width: 991px) {
    .navbar .navbar-toggler {
        display: none;
    }

    .search-bar-container .custom-toggler {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    .custom-toggler {
        display: none;
    }
}


/* style */

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}



/* Custom styles for a modern and professional look */
/* <!-- Header background CSS --> */
.bg-img {

    background: url("https://cdn.pixabay.com/photo/2020/05/31/19/38/job-5243951_1280.jpg") no-repeat center center;
    background-size: cover;
    margin-top: -16px;

}

@media (max-width: 380px) {
    .bg-img {
        height: 290px;
    }
}

.lead {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(15, 15, 187), 0 0 5px darkblue;
}
@media (max-width: 530px) {
    .lead{
        font-size: .9rem;
}
}

/* .display-4 {
    text-shadow: -1.7px 0 rgb(255, 255, 255), 0 1px rgb(13, 13, 13), 1px 0 rgb(0, 0, 0), 0 -1.1px rgb(255, 235, 235);
    color: #818488;
} */
.display-4 {
    text-shadow: -1.7px 0 rgb(103, 100, 100), 0 1px rgb(228, 228, 228), 1px 0 rgb(105, 101, 101), 0 -1.1px rgb(255, 255, 255);
    color: #c9c1c1ce;
}
@media (max-width: 530px) {
    .display-4{
        font-size: 1.9rem;
}
}




.card-img-top {
    height: 210px;
    /* Ensure consistent size for all service icons */
    object-fit: cover;
}


.navbar-light .navbar-brand {
    color: #007bff;
    /* Brand color for logo text */
}

.navbar-light .navbar-nav .nav-link {
    color: #0056b3;
    /* Slightly darker shade for contrast */
}


/* Services  page specific styling */
@media (max-width: 550px) {
    .H{
         font-size: 1.4rem;
 }
 }
@media (max-width: 550px) {
    h5.card-title{
         font-size: .9rem;
     }
 }

@media (max-width: 550px) {
   p.card-text{
        font-size: .8rem;

}
}
div.card-body{
    padding: 10px 5px 30px 10px  !important ;
}


/* Products Card CSS */
.Product-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.445);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 5px;
}

#Product .card:hover {
    transform: translateY(-8px);
}
.imgsize{
    height: 50%;
    width: auto;
}

.btn-secondary{
    border-radius: 8px;
}
/* Add more custom styles as needed */

/* Portfolio */

#portfolio .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#portfolio .card:hover {
    transform: translateY(-5px);
}


/***** Gallery CSS *****/

.w-33 {
    width: 33% !important;
    height: 100%;
    padding: 5px;
    /* Adjusts spacing between images */
}

.carousel-item .d-flex img {
    max-width: 100%;
    height: auto;
    /* Adjust the height as needed */
}

/***** End Gallery CSS *****/


/***** Testimonials CSS *****/

#testimonials .carousel-item {
    text-align: center;
}

#testimonials .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Center the card */
    max-width: 80%;
}

#testimonials .blockquote-footer {
    color: #666;
    font-style: italic;
}

.testimonials-bg {
    background-color: rgba(124, 123, 124, 0.369);
}

/***** End Testimonials CSS *****/


/* Portfolio Card CSS */
.Portfolio-img {
    border-radius: 15px;
}

@media (min-width: 765px) {
    .Project-card {
        text-align: center;
    }
}


@media (max-width: 765px) {
    .em-center {
        display: none;
    }
}

/* FAQ */
.card-body{
       font-size: .8rem;
}
/* FAQ Style End */


.nav-item1:hover {
    transform: scale(1.20);
    /* Optional: Slightly increase size */
}

.cardservice:hover {
    transform: scale(1.02);
    /* Optional: Slightly increase size */
}

.sticky-top {
    z-index: 4030;
    /* Adjust z-index as needed, Bootstrap's default navbar z-index is 1030 */
}


#whatsappMessageLink {
    text-decoration: none;
    color: green;
    /* WhatsApp's brand color */
    cursor: pointer;
}

#whatsappMessageLink:hover {
    text-decoration: underline;
}


.navbar-nav .nav-link.text-indigo {
    color: #ffffff;
    /* Replace with the actual color code */
}

/* .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */


.anta-regular {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    font-style: normal;
}

.foldit {
    font-family: "Foldit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@media (min-width: 530px) {
    .logo {
        display: flex;
        height: 70px;
    }

    .navbar-brand.anta-regular {
        font-size: 1.7rem;
        /* Desired smaller font size for smaller screens */
    }

    .sicon {
        height: 40px;
    }

    .material-symbols-outlined {
        font-size: 2.8rem;
        /* Desired smaller font size for smaller screens */
    }

    .d-flex {
        justify-content: flex-end;
        /* To keep items aligned from start */
    }
}

@media (max-width: 530px) {
    .logo {
        display: flex;
        height: 50px;
    }

    .sicon {
        height: 30px;
    }

    .navbar-brand.anta-regular {
        font-size: 1.1rem;
        /* Desired smaller font size for smaller screens */
    }

    .material-symbols-outlined {
        font-size: 1.9rem;
        /* Desired smaller font size for smaller screens */
    }

    .d-flex {
        justify-content: flex-end;
        /* To keep items aligned from start */
    }
}


@media (min-width: 530px) {
    .Nav-icon {
        height: 60px;
    }
}


@media (max-width: 530px) {
    .Nav-icon {
        height: 45px;
    }
}


.gallery-icon {
    filter: invert(20%) sepia(100%) saturate(7500%) hue-rotate(345deg) brightness(0%) contrast(105%);
}

.carousel-control-next-icon{
    padding:10%;
    margin-left: 140%;
}
.carousel-control-prev-icon{
    padding:10%;
    margin-right: 140%;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
a.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 4rem 0rem 0.20rem;
    clear: both;
    font-weight: 400;
    color: #292121;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.cta-text.p{
    font-size: .8rem;
}
.cta-text.h3{
    font-size: .8rem;
}